body {
  padding 20% 10%
  text-align: center;
}

h1 {
  .jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  }
}
